@model AspNetMVC5.Models.BookCreatedModel
@{
    ViewBag.Title = "BookCreated";
}

<h2>Folgendes Buch wurde am @Model.Created.ToShortDateString() um @Model.Created.ToShortTimeString() angelegt:</h2>
<p>
    Titel: @Model.Book.Title <br />
    ISBN: @Model.Book.Isbn
</p>
<p>
    @Html.ActionLink("Zurück", "Index", "Home", null, null)
</p>


