@model WebMVC.ViewModels.BookCatalog
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Awesome Books</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Isbn</th>
                        <th>Title</th>
                        <th>Release Date</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <td>@book.Id</td>
                            <td>@book.Isbn</td>
                            <td>@book.Title</td>
                            <td>@book.ReleaseDate</td>
                            <td>@book.Price</td>
                            <td>@book.Rating</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
